[package]
name = "elements"
version = "0.14.0"
authors = ["Andrew Poelstra <apoelstra@blockstream.com>"]
description = "Library with support for de/serialization, parsing and executing on data structures and network messages related to Elements"
license = "CC0-1.0"
homepage = "https://github.com/ElementsProject/rust-elements/"
repository = "https://github.com/ElementsProject/rust-elements/"
documentation = "https://docs.rs/elements/"

[features]
default = [ "json-contract" ]

json-contract = [ "serde_json" ]
"serde-feature" = [
    "bitcoin/use-serde",
    "serde"
]
"fuzztarget" = []

[dependencies]
bitcoin = "0.25"
slip21 = "0.2.0"

# While this dependency is included in bitcoin, we need this to use the macros.
# We should probably try keep this one in sync with the bitcoin version,
# to avoid requiring two version of bitcoin_hashes.
bitcoin_hashes = "0.9.0"

# Used for ContractHash::from_json_contract.
serde_json = { version = "<=1.0.44", optional = true }

serde = { version = "1.0", optional = true }

[dev-dependencies]
rand = "0.6.5"
serde_json = "<=1.0.44"
ryu = "<1.0.5"
